{% extends "base/base.html" %}
{% block titulo %}
  Stock
{% endblock titulo %}
{% block subtitulo %}
<h2>Stock en el sistema</h2>
{% endblock subtitulo %}

{% block cpanel %}
  <a class="btn btn-success right" href="{% url 'producto:producto_crear' %}"><i class="fa fa-plus" aria-hidden="true"></i> crear</a><ul class="nav nav-pills" role="tablist">
  <li role="presentation" class="active"><a href="#">Home <span class="badge">42</span></a></li>
  <li role="presentation"><a href="#">Messages <span class="badge">3</span></a></li>
</ul>
{% endblock cpanel %}

{% block content %}
<table class="table table-bordered table-hover dataTable text-capitalize">
	
		{% if object_list %}

      
		<thead>
		<tr class="active">
			<td>#</td>
			<td>Nombre</td>
      <td>Cantidad</td>
		</tr>
	</thead>
	<tbody>
		{% for stock in object_list %}
   <a class="btn btn-app">
                    <span class="badge bg-green">{{ stock.disponible }}</span>
                    <i class="fa fa-barcode"></i> {{ stock.Producto.nombre }}
                  </a>
			
		<tr>
			<td>{{ stock.id }}</td>
      <td>{{ stock.Producto.nombre }}</td>
      <td>{{ stock.disponible }}</td>

		
		
		</tr>
			{% endfor %}

			{% else %}
			No hay registros en el sistema.

			{% endif %}


	</tbody>
</table>
 <!-- paginator -->
    {% if is_paginated %}
    <nav>
      <ul class="pagination">
        {% if page_obj.has_previous %}
        <li>
          <a href="?page={{ page_obj.previous_page_number }}">
            <span>Anterior</span>
          </a>
        </li>
        {% else %}
        <li class="disabled">
          <a href="#">
            <span>Anterior</span>
          </a>
        </li>
        {% endif %}

        {% for page in paginator.page_range %}
        <li {% if page == ProductoList.number %}class="active"{% endif %}>
          <a href="?page={{ page }}">{{ page }}</a>
        </li>
        {% endfor %}

        {% if page_obj.has_next %}
        <li>
          <a href="?page={{ page_obj.next_page_number }}">
            <span>Siguiente</span>
          </a>
        </li>
        {% else %}
        <li {% if not ProductoList.has_next %}class="disabled"{% endif %}>
          <a href="#">
            <span>Siguiente</span>
          </a>
        </li>
        {% endif %}
      </ul>
    </nav>
    {% endif %}

    <!-- End pagintaor -->
	
{% endblock content %}