{% extends "base/base.html" %}

{% block titulo %}
	Pedido
{% endblock titulo %}
{% block subtitulo %}
<h2>Pedidos del sistema</h2>
{% endblock subtitulo %}

{% block cpanel %}
  <a class="btn btn-success right" href="{% url 'pedido:pedido_crear' %}"><i class="fa fa-plus" aria-hidden="true"></i> crear</a>
{% endblock cpanel %}
{% block content %}


<table class="table table-bordered table-hover dataTable text-capitalize">
	{% if object_list %}
		<thead>
		<tr class="active">
			<td>#</td>
			<td>Fecha Pedido</td>
			<td>Estado</td>
			<td>Cliente</td>
			<td>Logistica</td>
			<td>Producto</td>
			<td>cantidad</td>
			<td></td>
			<td></td>
		</tr>
	</thead>
		{% for pedido in object_list %}

	<tbody>
	
			
		<tr>
			<td>{{ pedido.codigo}}</td>
			<td>{{ pedido.fecha_pedido }}</td>

			{%if pedido.estado == 0 %}
			<td><span class="label label-warning">Pendiente</span></td>
			{%elif pedido.estado == 1 %}
			<td><span class="label label-primary">En Ruta</span></td>
			{%elif pedido.estado == 2 %}
			<td><span class="label label-success">Entregado</span></td>
			{%else%}
			<td><span class="label label-danger">Cancelado</span></td>
			{%endif%}

			<td>{{ pedido.Cliente.nombre }}</td>

		
			{%if pedido.Logistica.patente is null%}
			<td><span class="label label-warning">Pendiente</span></td>
			{%else%}
			
			<td><span class="label label-success">{{ pedido.Logistica.patente }}</span></td>
			{%endif%}
		

			<td>{{ pedido.Producto.nombre }}</td>
			<td>{{ pedido.cantidad }}</td>
				<td>
				<a class="btn btn-primary" href="{% url 'pedido:pedido_editar' pk=pedido.codigo %}"><i class="fa fa-pencil-square-o" aria-hidden="true"></i></a>
			</td>
				<td>
				<a class="btn btn-danger" href="{% url 'pedido:pedido_eliminar' pk=pedido.codigo %}"><i class="fa fa-trash" aria-hidden="true"></i></a>
			</td>
		
		
		</tr>
			{% endfor %}

			{% else %}
			 No hay registros en el sistema. 

			{% endif %}
	</tbody>
</table>
 <!-- paginator -->
    {% if is_paginated %}
    <nav>
      <ul class="pagination">
        {% if page_obj.has_previous %}
        <li>
          <a href="?page={{ page_obj.previous_page_number }}">
            <span>Anterior</span>
          </a>
        </li>
        {% else %}
        <li class="disabled">
          <a href="#">
            <span>Anterior</span>
          </a>
        </li>
        {% endif %}

        {% for page in paginator.page_range %}
        <li {% if page == PedidoList.number %}class="active"{% endif %}>
          <a href="?page={{ page }}">{{ page }}</a>
        </li>
        {% endfor %}

        {% if page_obj.has_next %}
        <li>
          <a href="?page={{ page_obj.next_page_number }}">
            <span>Siguiente</span>
          </a>
        </li>
        {% else %}
        <li {% if not PedidoList.has_next %}class="disabled"{% endif %}>
          <a href="#">
            <span>Siguiente</span>
          </a>
        </li>
        {% endif %}
      </ul>
    </nav>
    {% endif %}

    <!-- End pagintaor -->
	
{% endblock content %}